* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* ===================common================== */
.main-content {
  margin-left: auto;
  margin-right: auto;
}

/* ===================header================== */
.header.fixed {
  position: sticky;
  top: -10px;
}

.top-header,
.body-header {
  display: flex;
  align-items: center;
}

.top-header {
  height: 40px;
  background: #826400;
  color: white;
  font-weight: 600;
  padding-top: 10px;
}

.top-header p {
  margin-left: auto;
  margin-right: 20px;
}

.top-header a {
  margin-top: 0.5px;
  margin-right: auto;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.top-header a:hover {
  color: rgb(241, 69, 69);
}

.body-header {
  position: relative;
  height: 70px;
  background: #faedde;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.logo {
  width: 100px;
  margin-left: 30px;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: black;
  font-weight: 400;
  text-decoration: none;
  padding: 4px 21px;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0.5px 1px black;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  top: 32px;
  display: block;
  content: "";
  width: 31px;
  height: 2px;
  background: #171100;
}
/* .search-box {
  margin-left: auto;
  margin-right: 40px;
} */
