* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inconsolata", monospace;
  height: 10000px;
}

/* ===================common================== */
.main-container {
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/* ===================header================== */
.header.fixed {
  width: 100%;
  position: sticky;
  top: -10px;
}

.header .body {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-top: 12px;
}

.header a.heading_logo {
  height: 50px;
  margin-left: 7px;
}

.header img.logo {
  width: 110px;
  height: 100%;
  object-fit: cover;
  scale: 110%;
}

.header nav {
  margin-left: calc(12%);
}

.header ul {
  display: flex;
}

.header ul li {
  padding: 0 18px;
  font-size: 1.5rem;
  font-weight: 500;
}

.header li a {
  position: relative;
  color: black;
  word-spacing: -4px;
  padding-bottom: 4px;
}

.header li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: gray;
  transition: width 0.2s ease-in-out;
}

.header ul li a:hover::after {
  width: 100%;
}

.header .search {
  margin-left: auto;
}

.header .search a {
  position: relative;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 4px;
}

.header .search a::after {
  content: "";
  position: absolute;
  left: 26px;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: gray;
  transition: width 0.2s ease-in-out;
}

.header .search a:hover::after {
  width: calc(100% - 26px);
}
